<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concatenation</title>
</head>
<body>
    
    <form method="post" action='/concatenate-video-success/' enctype="multipart/form-data">
        {% csrf_token %}
        <span> Video 1 </span>
        <input type="file" name="video1">
        <span> Video 2 </span>
        <input type="file" name="video2">
        <input type="submit" value="Upload Video">
    </form>
</body>
</html>
